@model OSU_Form_Application.Models.FormViewModel

@{
    ViewBag.Title = "FormVerify";
}

<h2>FormVerify</h2>

<div>
    <h4>FormViewModel</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Term)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Term)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuizType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuizType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssignmentGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignmentGroup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShuffleAnswers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShuffleAnswers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeLimit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeLimit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllowMultipleAttempts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllowMultipleAttempts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuizScoreKeep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuizScoreKeep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllowedAttempts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllowedAttempts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OnlyAfterAttempt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OnlyAfterAttempt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowOneQuestionAtTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowOneQuestionAtTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LockQuestionsAfterAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LockQuestionsAfterAnswer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvailableFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailableFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Until)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Until)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NotifyUsersQuizChange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotifyUsersQuizChange)
        </dd>

    </dl>
</div>